
.vs/VSMS/config/applicationhost.config
.vs/VSMS/v16/.suo
VSMS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
VSMS/obj/Debug/VSMS.csproj.AssemblyReference.cache
.vs/VSMS/config/applicationhost.config
VSMS/Web.config
*.config
