<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        /*.container{
            max-width: 840px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }*/
        .title {
            text-align: center;
            background-color: orange;
            font-size: 45px;
        }

    </style>
</head>
<body>
    <div class="container">
        <div class="title">
            <b>Vehicle Showroom Management System</b>
        </div>
        <div>
            <pre>
            Hi <span>@ViewBag.Name</span>
                Thank you for registering this car test! Wait for agent agents to contact and confirm the information on the test driver!
        </pre>
        </div>
    </div>
</body>
</html>
