@{
    ViewBag.Title = "CarFeature";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHome.cshtml";
    
}
<div class="container-fluid">
    <div class="card card-default">
        <div class="card-header">
            <br />
            <a href="@Url.Action("Index", "Features")" class="btn btn-success">List Feature</a>
        </div>
        <span class="text-danger">@TempData["error"]</span>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h3>Feature of Car</h3>
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Feature Name</th>
                                </tr>
                            </thead>
                           <tbody class="bodyFeature">

                           </tbody>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Feature Name</th>
                                </tr>
                            </tfoot>
                        </table>
                        <button id="addFeatureToCar" class="btn btn-primary">Add Feature Car</button>
                    </div>
                    <!-- /.form-group -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.card-body -->
    </div>

</div>
@section Scripts{
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false, "searching": true,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
    <script>
        //Bootstrap Duallistbox


        $(document).ready(function () {
            $('.duallistbox').bootstrapDualListbox();

            getURL();

            // show option
            function AjaxCall(url, data, type) {
                return $.ajax({
                    url: url,
                    type: type ? type : 'GET',
                    data: data,
                    contentType: 'application/json'
                });
            };

            LoadDataCheckBox();

        });

        // chức năng xử lý url
        function parse_query_string(query) {
            var vars = query.split("/");
            var query_string = {};
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split("=");
                var key = decodeURIComponent(pair[0]);
                var value = decodeURIComponent(pair[1]);
                // If first entry with this name
                if (typeof query_string[key] === "undefined") {
                    query_string[key] = decodeURIComponent(value);
                    // If second entry with this name
                } else if (typeof query_string[key] === "string") {
                    var arr = [query_string[key], decodeURIComponent(value)];
                    query_string[key] = arr;
                    // If third or later entry with this name
                } else {
                    query_string[key].push(decodeURIComponent(value));
                }
            }
            return query_string;
        }

        // xử lý url để lấy tham số id của ô tô
        function getURL() {
            var query_string = "" + window.location.href;
            console.log(query_string);
            var parsed_qs = parse_query_string(query_string);
            var idCar = parsed_qs.id;
            if (idCar == null) {
                toastr.error('Id của ô tô không tìm thấy !', 'Thông báo', { timeOut: 2000 });
            } else {
                AddFeatureCar(idCar);
            }
        }



        

        //Chức năng load data featute theo id ô tô checkbox

        function LoadDataCheckBox() {
            $.ajax({
                url: "/Admin/Features/GetAllData",
                type: "GET",
                success: function (result) {
                    console.log(result);
                    var html = '';
                    $.each(result, function (key, item) {
                        html += '<tr>';
                        html += '<td > <div class="form-group form-check"> <input type="checkbox" class="form-check-input" value="' + item.Id +'" id="featureSelected"> <label class="form-check-label">' + item.Id + '</label> </div> </td>';
                        html += '<td>' + item.Name + '</td>';
                        html += '</tr>';
                    });
                    /*DataTables instantiation.*/
                    $(".bodyFeature").html(html);

                }, error: function (e) {
                    alert(e.responseText);
                }
            })

        }

        function AddFeatureCar(idCar) {
            $('#addFeatureToCar').click(function () {
                var _idCar = idCar;
                var list = []
                $("#example1 :checked").each(function (i, e) {
                    list.push($(this).attr("value"));
                })
                var formData = new FormData;
                for (var i = 0; i < list.length; i++) {
                    formData.append('list[]', list[i]);
                }
                formData.append('IdCar', _idCar);
                $.ajax({
                    url: '@Url.Action("CreateFeatureDetails", "Cars")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    cache: false,
                    data: formData,
                    success: function (rs) {
                        //location.reload(true);
                        if (rs.thangdog == 1) {
                            toastr.error('Duplicate feature with code ' + rs.IdFeature, 'Thông báo', { timeOut: 2000 });
                        } else {
                            toastr.success('Add Feature Seccess', 'Thông báo', { timeOut: 2000 });
                        }
                    },
                    error: function (e) {
                        console.log(e.responseText);
                    }
                });

            });
        }
    </script>
}