
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHome.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Add New Record</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form id="frmAddCar">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Car Name</label>
                                    <input type="text" class="form-control" id="Name" placeholder="Enter car name...">
                                    <div class="invalid-feedback error-name">Please fill out this field</div>
                                </div>
                                <div class="form-group">
                                    <label>Enginer</label>
                                    <input type="text" class="form-control" id="Enginer" placeholder="Enginer...">
                                    <div class="invalid-feedback error-enginer">Please fill out this field</div>
                                </div>
                                <div class="form-group">
                                    <label>Fuel Type</label>
                                    <input type="text" class="form-control" id="fuelType" placeholder="Fuel Type...">
                                    <div class="invalid-feedback error-fuel">Please fill out this field</div>
                                </div>
                                <div class="form-group">
                                    <label>Transmission</label>
                                    <input type="text" class="form-control" id="Transmission" placeholder="Transmission...">
                                    <div class="invalid-feedback error-tran">Please fill out this field</div>
                                </div>

                                <div class="form-group">
                                    <label>Price</label>
                                    <input type="number" class="form-control" id="Price" name="Price" placeholder="Price...">
                                    <div class="invalid-feedback error-price">Please fill out this field</div>
                                </div>

                                <div class="form-check">
                                    <input type="radio" id="unavail" name="Status" value="0" checked>
                                    <label for="Unavailable">Unavailable</label><br>
                                    <input type="radio" id="avail" name="Status" value="1">
                                    <label for="Available">Available</label><br>
                                </div>

                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Category</label>
                                    <select class="form-control" id="cateDropDownList" name="CatId">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Manuafature</label>
                                    <select class="form-control" id="manuaDropDownList" name="Manu">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Mode</label>
                                    <select class="form-control" id="modeDropDownList" name="ModeId">
                                    </select>
                                    <div class="invalid-feedback error-mode">Please fill out this field</div>
                                </div>
                                <div class="form-group">
                                    <label>Descriptions</label>
                                    <textarea class="form-control" id="Descriptions" rows="4" placeholder="Descriptions..."></textarea>
                                </div>
                                <div class="form-group">
                                    <label>File input</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="carInputFile" multiple>
                                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                        </div>
                                        <div class="input-group-append">
                                            <span class="input-group-text">Upload</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button id="add" type="button" class="btn btn-primary">Submit</button>
                        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-warning" })
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>

    </script>
    <script>
        $(document).ready(function () {
            validform();
            function AjaxCall(url, data, type) {
                return $.ajax({
                    url: url,
                    type: type ? type : 'GET',
                    data: data,
                    contentType: 'application/json'
                });
            };

            // ajax call category
            AjaxCall('/Admin/Categories/GetAllData', null).done(function (response) {
                if (response.length > 0) {
                    $('#cateDropDownList').html('');
                    var options = '';
                    options += '<option disabled >   Select   </option>';
                    $.each(response, function (key, item) {
                        options += '<option value="' + item.Id + '">' + item.CateName + '</option>';
                    });
                    $('#cateDropDownList').html(options);
                }
            }).fail(function (error) {
                alert(error.StatusText);
            });

            // ajax call mode
            AjaxCall('/Admin/Manuafatures/GetAllData', null).done(function (response) {
                if (response.length > 0) {
                    $('#manuaDropDownList').html('');
                    var options = '';
                    $.each(response, function (key, item) {
                        options += '<option value="' + item.Id + '">' + item.Name + '</option>';
                    });
                    $('#manuaDropDownList').html(options);

                    // nếu khách chọn manuadatures sẽ show các mode tương ứng

                    $("#manuaDropDownList").change(function () {
                        data = $('#manuaDropDownList option:selected').val()
                        AjaxCall('/Admin/Modes/GetDataByManua/' + data, null).done(function (response) {
                            if (response.length > 0) {
                                $('#modeDropDownList').html('');
                                var options = '';
                                $.each(response, function (key, item) {
                                    options += '<option value="' + item.Id + '">' + item.ModeName + '</option>';
                                });
                                $('#modeDropDownList').html(options);
                            }
                            else {
                                var options = '';
                                options += '<option >   Not data yet   </option>';
                                $('#modeDropDownList').html(options);
                            }
                        }).fail(function (error) {
                            alert(error.StatusText);
                        });
                    })
                }
            }).fail(function (error) {
                alert(error.StatusText);
            });
        })
        // xử lý logic kiểm tra mode có null hay không?
        $('#modeDropDownList').click(function () {
            data = $('#modeDropDownList option:selected').val();
            if (data == undefined) {
                alert("please select the manufacturer above!");
            }
        });

        // xử lý logic thêm mới
        $('#add').click(function () {
            var obj = [
                $("#Name").val(),
                $("#Enginer").val(),
                $("#fuelType").val(),
                 $("#Transmission").val(),
                $("#Price").val(),
                $("#modeDropDownList").val(),
                $("#carInputFile").val()
            ];
            for (var i = 0; i < obj.length; i++) {
                if (obj[i].length == 0) {
                    toastr.error("Please fill out all fields!","Notification!");
                    return false;
                }
            }
            // start validate
            
            //end validate
            var formdata = new FormData(); //FormData object
            if (window.FormData !== undefined) {
                // upload file
                var fileInput = document.getElementById('carInputFile');
                for (i = 0; i < fileInput.files.length; i++) {
                    var sfilename = fileInput.files[i].name;
                    formdata.append(sfilename, fileInput.files[i]);
                }
                var status = 0;
                if ($('#unavail').is(':checked')) {
                    status = status;
                } else {
                    status = 1;
                }

                formdata.append("CarName", $('#Name').val());
                formdata.append("Engine", $('#Enginer').val());
                formdata.append("FuelType", $('#fuelType').val());
                formdata.append("Transmission", $('#Transmission').val());
                formdata.append("Price", $('#Price').val());
                formdata.append("Descriptions", $('#Descriptions').val());
                formdata.append("Status", status);
                formdata.append("CatId", $('#cateDropDownList').val());
                formdata.append("ModeId", $('#modeDropDownList').val());

                $.ajax({
                    url: "/Admin/Cars/Add",
                    type: "POST",
                    processData: false,
                    contentType: false,
                    cache: false,
                    data: formdata,
                    enctype: 'multipart/form-data',
                    success: function (rs) {
                        toastr.success(
                            'Add Car Success!',
                            'Notification!',
                            {
                                timeOut: 1000,
                                fadeOut: 1000,
                                onHidden: function () {
                                    window.location.reload();
                                }
                            }
                        );
                    },
                    error: function (e) {
                        console.log(e.responseText);
                    }
                });
            }
        })



        function validform() {
            document.getElementById("Name").addEventListener("keyup", function (e) {
                if ($("#Name").val().length == 0) {
                    $('#Name').addClass("is-invalid");
                    $('.error-name').css('display', 'block');
                    e.preventDefault();
                } else {
                    $('#Name').removeClass("is-invalid");
                    $('#Name').addClass("is-valid");
                    $('.error-name').css('display', 'none');

                }
            });
            document.getElementById("Enginer").addEventListener("keyup", function (e) {
                if ($("#Enginer").val().length == 0) {
                    $('#Enginer').addClass("is-invalid");
                    $('.error-enginer').css('display', 'block');
                    e.preventDefault();
                } else {
                    $('#Enginer').removeClass("is-invalid");
                    $('#Enginer').addClass("is-valid");
                    $('.error-enginer').css('display', 'none');
                }
            });
            document.getElementById("fuelType").addEventListener("keyup", function (e) {
                if ($("#fuelType").val().length == 0) {
                    $('#fuelType').addClass("is-invalid");
                    $('.error-fuel').css('display', 'block');
                    e.preventDefault();
                } else {
                    $('#fuelType').removeClass("is-invalid");
                    $('#fuelType').addClass("is-valid");
                    $('.error-fuel').css('display', 'none');
                }
            });
            document.getElementById("Transmission").addEventListener("keyup", function (e) {
                if ($("#Transmission").val().length == 0) {
                    $('#Transmission').addClass("is-invalid");
                    $('.error-tran').css('display', 'block');
                    e.preventDefault();
                } else {
                    $('#Transmission').removeClass("is-invalid");
                    $('#Transmission').addClass("is-valid");
                    $('.error-tran').css('display', 'none');
                }
            });
            document.getElementById("Price").addEventListener("keyup", function (e) {
                if ($("#Price").val().length == 0) {
                    $('#Price').addClass("is-invalid");
                    $('.error-price').css('display', 'block');
                    e.preventDefault();
                } else {
                    $('#Price').removeClass("is-invalid");
                    $('#Price').addClass("is-valid");
                    $('.error-price').css('display', 'none');
                }
            });
            document.getElementById("modeDropDownList").addEventListener("change", function (e) {
                if ($("#modeDropDownList").val() == null) {
                    $('#modeDropDownList').addClass("is-invalid");
                    $('.error-mode').css('display', 'block');
                    e.preventDefault();
                } else {
                    $('#modeDropDownList').removeClass("is-invalid");
                    $('#modeDropDownList').addClass("is-valid");
                    $('.error-mode').css('display', 'none');
                }
            });
        };
    </script>

}

