@model IEnumerable<VSMS.Models.DataModels.Car>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHome.cshtml";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">List Car</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Car Name</th>
                    <th>Mode Code</th>
                    <th>Category</th>
                    <th>Engine</th>
                    <th>Fuel Type</th>
                    <th>Transmission</th>
                    <th>Descriptions</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="tbody">
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
    <div class="card-footer clearfix">
        <ul class="pagination pagination-sm m-0 float-right">
            <li class="page-item"><a class="page-link" href="#">«</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">»</a></li>
        </ul>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalDesCar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <section class="content">
                    <div class="card card-solid">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-lg-12">
                                    <h3 class="d-inline-block d-sm-none">LOWA Men’s Renegade GTX Mid Hiking Boots Review</h3>
                                    
                                    <div class="col-12 product-image-thumbs" id="imgPro">

                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <h3 class="my-3" id="txtCarName"></h3>
                                    <p id="txtDescription"></p>

                                    <hr>


                                    <h4 class="mt-3">Size <small>Please select one</small></h4>
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-default text-center active">
                                            <input type="radio" name="color_option" id="color_option_b1" autocomplete="off">
                                            <span class="text-xl">S</span>
                                            <br>
                                            Small
                                        </label>
                                        <label class="btn btn-default text-center">
                                            <input type="radio" name="color_option" id="color_option_b2" autocomplete="off">
                                            <span class="text-xl">M</span>
                                            <br>
                                            Medium
                                        </label>
                                        <label class="btn btn-default text-center">
                                            <input type="radio" name="color_option" id="color_option_b3" autocomplete="off">
                                            <span class="text-xl">L</span>
                                            <br>
                                            Large
                                        </label>
                                        <label class="btn btn-default text-center">
                                            <input type="radio" name="color_option" id="color_option_b4" autocomplete="off">
                                            <span class="text-xl">XL</span>
                                            <br>
                                            Xtra-Large
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <nav class="w-100">
                                    <div class="nav nav-tabs" id="product-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="product-desc-tab" data-toggle="tab" href="#product-desc" role="tab" aria-controls="product-desc" aria-selected="true">Feature</a>
                                    </div>
                                </nav>
                                <div class="tab-content p-6" id="nav-tabContent">
                                    <div class="tab-pane fade active show" id="product-desc" role="tabpanel" aria-labelledby="product-desc-tab">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th style="width: 10px">#</th>
                                                    <th>Feature Name</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody class="tbodyFeatureDes">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>

                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        $(document).ready(function () {
            //load data car
            LoadData();
            // Lấy ra id của sản phẩm để hiển thị thông tin chi tiết lên modal
            $(document).on("click", "#DesShow", function () {
                var dataId = $(this).attr("data-id");
                console.log(dataId);
                $.ajax({
                    url: "/Cars/ShowDesModal/" + dataId,
                    type: "GET",
                    success: function (data) {
                        console.log(data);
                        $('#txtCarName').html(data.CarName);
                        $('#txtDescription').html(data.Descriptions);
                        // truy vấn ajax lồng lấy ra ảnh sản phẩm
                        $.ajax({
                            url: "/Admin/Cars/ShowImageCar",
                            type: "GET",
                            data: { idCar: dataId },
                            success: function (result) {
                                console.log(result);
                                var html = '';
                                $.each(result, function (key, item) {
                                    html += '<div class="product-image-thumb"> <img src="' + item.ImageName + '" alt="Product Image"> </div>';
                                });
                                $('#imgPro').html(html);


                            }, error: function (e) {
                                alert(e.responseText);
                            }
                        });
                        // truy vấn ajax lấy ra thông tin mô tả tính năng sản phẩm
                        $.ajax({

                            url: "/Admin/Cars/ShowFeatureCar",
                            type: "GET",
                            data: { idCar: dataId },
                            success: function (result) {
                                console.log("cc");
                                console.log(result);
                                var html = '';
                                $.each(result, function (key, item) {
                                    html += '<tr>';
                                    html += '<td>' + item.Id + '</td>';
                                    html += '<td>' + item.Name + '</td>';
                                    html += '<td class="text-center"><a href="javascript:void(0)" id="delFea" data-idDelFea="' + item.Id + '" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a></td>';
                                    html += '</tr>';
                                });
                                $('.tbodyFeatureDes').html(html);



                            }, error: function (e) {
                                alert(e.responseText);
                            }
                        });


                    }, error: function (e) {
                        alert(e.responseText);
                    }
                });

                 // xoa tính năng của ô tô
                $(document).on("click", "#delFea", function () {
                    var rs = confirm("Are you sure?");
                    if (rs) {
                        var dataIdCar = dataId;
                    var _idFeaDel = $(this).attr("data-idDelFea");
                   $.ajax({
                        url: '@Url.Action("DeleteFeatureByCar", "Cars")',
                        type: "POST",
                        data: {
                            idCar: dataIdCar,
                            idFeature: _idFeaDel
                       }, success: function (rs) {
                            if (rs.check == 1) {
                                toastr.success('xoa oke', 'Thông báo', { timeOut: 2000 });
                            } else {
                                toastr.error('ko xoa duoc ' + rs.idFeature, 'Thông báo', { timeOut: 2000 });
                            }
                       },
                       error: function (e) {
                           console.log(e.responseText);
                       }

                    });
                    }
                });
            });



        });


        // get all data
        function LoadData() {
            $.ajax({
                url: "/Cars/GetAllData",
                type: "GET",
                success: function (data) {
                    console.log(data);
                    var html = '';
                    $.each(data, function (key, item) {
                        html += '<tr>';
                        html += '<td>' + item.Id + '</td>';
                        html += '<td>' + item.CarName + '</td>';
                        html += '<td>' + item.ModeId + '</td>';
                        html += '<td>' + item.CatId + '</td>';
                        html += '<td>' + item.Engine + '</td>';
                        html += '<td>' + item.FuelType + '</td>';
                        html += '<td>' + item.Transmission + '</td>';
                        html += '<td class="text-center" data-toggle="modal" data-target="#modalDesCar"><a href="javascript:void(0)" id="DesShow" data-id="' + item.Id + '" class="btn btn-info"><i class="fas fa-eye"></i></a></td>';
                        html += '<td>' + (item.Status == 1 ? 'Show' : 'Hide') + '</td>';
                        html += '<td> <a id="edit" class ="fa fas-edit" href = "javascript:void(0)"  data-id="' + item.Id + '" > Edit </a> | <a class="del" href = "javascript:void(0)" data-id="' + item.Id + '" > Delete </a> | <a class="del" href = "/Admin/Cars/CarFeature/id=' + item.Id + '"  > Add Feature </a></td>';
                        html += '</tr>';
                    });
                    $('.tbody').html(html);

                }, error: function (e) {
                    alert(e.responseText);
                }
            });
        };

    </script>
    <script>
        $(document).ready(function () {
            $('.product-image-thumb').on('click', function () {
                var $image_element = $(this).find('img')
                $('.product-image').prop('src', $image_element.attr('src'))
                $('.product-image-thumb.active').removeClass('active')
                $(this).addClass('active')
            })
        })
    </script>
}