
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error500</title>
    <link href="~/Content/css/errorCodeCss.css" rel="stylesheet" />
</head>
<body>
    <div class="vc-container">
        <div class="vc-content">
            <h1 class="vc-heading">500</h1>
            <p class="vc-sub-heading">Internal Server <span class="blink-infinite">Error</span></p>
        </div>
    </div>
</body>
</html>
