
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tt-breadcrumb">
    <div class="container">
        <ul>
            <li><a href="@Url.Action("Index","Home")">Home</a></li>
            <li><a href="serices.html">Our services</a></li>
        </ul>
    </div>
</div>
<div id="tt-pageContent">
    <div class="container-indent-04">
        <div class="container">
            <div class="tt-block-title tt-sub-pages">
                <h1 class="tt-title">Our Services</h1>
                <div class="tt-description">What we offer for our clients</div>
            </div>
            <div class="row tt-promo-list">
                <div class="col-12 col-sm-6">
                    <a href="services-item.html" class="tt-promo">
                        <img src="~/Content/images/custom/promo-img01.jpg" alt="">
                        <div class="tt-description">
                            <div class="tt-icon icon-car-washing-machine"></div>
                            <div class="tt-title">
                                Pre-Sale Preparation
                            </div>
                            <div class="tt-text">
                                Before you sell your car, or trade it in to get something bigger or better, we can help you make your car look as good as possible before anyone comes to see it.
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-6">
                    <a href="services-item.html" class="tt-promo">
                        <img src="~/Content/images/custom/promo-img02.jpg" alt="">
                        <div class="tt-description">
                            <div class="tt-icon icon-financing"></div>
                            <div class="tt-title">
                                Financing
                            </div>
                            <div class="tt-text">
                                Car Leader has formed close relationships with several local and national lenders, so we're able to offer financing rates that many other car dealers can't offer.
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-6">
                    <a href="services-item.html" class="tt-promo">
                        <img src="~/Content/images/custom/promo-img03.jpg" alt="">
                        <div class="tt-description">
                            <div class="tt-icon icon-tradein2"></div>
                            <div class="tt-title">
                                Trade-In Service
                            </div>
                            <div class="tt-text">
                                We welcome you to stop by and take a look at the pristine inventory we offer. Most importantly, if you have any questions or concerns, speak to the seller immediately.
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-6">
                    <a href="services-item.html" class="tt-promo">
                        <img src="~/Content/images/custom/promo-img04.jpg" alt="">
                        <div class="tt-description">
                            <div class="tt-icon icon-testdrive"></div>
                            <div class="tt-title">
                                Test Drive Any Car
                            </div>
                            <div class="tt-text">
                                We welcome you to stop by and take a look at the pristine inventory we offer. Most importantly, if you have any questions or concerns, speak to the seller immediately.
                                <address>
                                    +01 123 456 78
                                </address>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-indent">
        <div class="container">
            <div class="tt-block-title tt-title-custom">
                <h3 class="tt-title">Sell Your Car Quickly and Easily with Us</h3>
                <div class="tt-description">It was really easy to sell your car!</div>
            </div>
            <div class="text-center tt-indent-btn">
                <a href="#" class="btn" data-toggle="modal" data-target="#modalAddYourItem">SUBMIT YOUR VEHICLE NOW</a>
            </div>
        </div>
    </div>
    <div class="container-indent container-indent-03 tt-mobile-hidden">
        <div class="tt-map">
            <a href="#" class="tt-btn-toggle"></a>
            <div class="tt-box-map">
                <div id="googleMapFooter" class="google-map"></div>
            </div>
        </div>
    </div>
</div>

