
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tt-breadcrumb">
    <div class="container">
        <ul>
            <li><a href="@Url.Action("Index","Home")">Home</a></li>
            <li>Our shop</li>
        </ul>
    </div>
</div>
<div id="tt-pageContent">
    <div class="container-indent-04">
        <div class="container">
            <div class="tt-block-title tt-sub-pages">
                <h1 class="tt-title">Our Shop</h1>
                <div class="tt-description">Certified Products</div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-3 col-xl-3 leftColumn tt-aside" id="aside-js">
                    <div class="tt-wrapper-aside">
                        <div class="tt-label-aside tt-small">
                            <a href="#" class="tt-btn-col-close"><i class="icon-close"></i></a>
                            <div class="tt-icon">
                                <i class="icon-cart"></i>
                            </div>
                            <div class="tt-title">
                                Online<br>Shopping
                            </div>
                        </div>
                        <div class="tt-aside-box">
                            <h3 class="tt-aside-title">Categories</h3>
                            <div class="tt-content">
                                <ul class="tt-list02">
                                    <li><a href="#">Automotive Deals &amp; Gifts</a></li>
                                    <li><a href="#">Automotive Specialty</a></li>
                                    <li><a href="#">Performance Parts</a></li>
                                    <li><a href="#">Replacement Parts</a></li>
                                    <li><a href="#">Truck Accessories</a></li>
                                    <li><a href="#">Interior Accessories</a></li>
                                    <li><a href="#">Exterior Accessories</a></li>
                                    <li><a href="#">Tires &amp; Wheels</a></li>
                                    <li><a href="#">Car Care</a></li>
                                    <li><a href="#">Tools &amp; Equipment</a></li>
                                    <li><a href="#">Car Electronics</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tt-aside-box">
                            <h3 class="tt-aside-title">Price</h3>
                            <div class="tt-content">
                                <div class="tt-slider-price">
                                    <div id="slider-snap"></div>
                                    <div class="slider-value-row">
                                        <div id="slider-snap-value-lower" class="slider-value"></div>
                                        <div id="slider-snap-value-upper" class="slider-value"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tt-aside-box">
                            <h3 class="tt-aside-title">Popular Products</h3>
                            <div class="tt-content">
                                <div class="tt-product-aside">
                                    <div class="tt-img">
                                        <a href="shop-item.html"><img src="~/Content/images/product/product_img_05.jpg" alt=""></a>
                                    </div>
                                    <div class="tt-description">
                                        <h6 class="tt-title">
                                            <a href="shop-item-2.html">Bosch 3330 Premium FILTECH Oil Filter</a>
                                        </h6>
                                        <div class="tt-rating">
                                            <i class="icon-star"></i>
                                            <i class="icon-star"></i>
                                            <i class="icon-star"></i>
                                            <i class="icon-star"></i>
                                            <i class="icon-star"></i>
                                        </div>
                                        <div class="tt-price">$5.23</div>
                                    </div>
                                </div>
                                <div class="tt-product-aside">
                                    <div class="tt-img">
                                        <a href="shop-item.html"><img src="~/Content/images/product/product_img_08.jpg" alt=""></a>
                                    </div>
                                    <div class="tt-description">
                                        <h6 class="tt-title">
                                            <a href="shop-item.html">Autolite XP5325 Iridium XP Spark Plug, Pack of 4</a>
                                        </h6>
                                        <div class="tt-rating">
                                            <i class="icon-star"></i>
                                            <i class="icon-star"></i>
                                            <i class="icon-star"></i>
                                            <i class="icon-star"></i>
                                            <i class="icon-star"></i>
                                        </div>
                                        <div class="tt-price">$24.61</div>
                                    </div>
                                </div>
                                <div class="tt-product-aside">
                                    <div class="tt-img">
                                        <a href="shop-item.html"><img src="~/Content/images/product/product_img_09.jpg" alt=""></a>
                                    </div>
                                    <div class="tt-description">
                                        <h6 class="tt-title">
                                            <a href="shop-item.html">Kensun AC/DC Performance Portable Air Compressor</a>
                                        </h6>
                                        <div class="tt-price">$48.36</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-9 col-xl-9">
                    <div class="tt-filters-options tt-skinSelect-01">
                        <div class="tt-btn-toggle" id="tt-btn-toggle-js">
                            <a href="#"></a>
                        </div>
                        <div class="tt-sort tt-col">
                            <select class="tt-select">
                                <option value="" disabled selected>New First</option>
                                <option value="Default Sorting">Default Sorting 02</option>
                                <option value="Default Sorting">Default Sorting 03</option>
                            </select>
                            <div class="tt-sort-total">
                                <strong>79</strong> RESULTS
                            </div>
                        </div>
                        <div class="tt-quantity">
                            <a href="#" class="icon-grid active" data-value="icon-listing"></a>
                            <a href="#" class="tt-grid-switch icon-listing"></a>
                        </div>
                    </div>
                    <div id="tt-product-listing" class="tt-product-listing row">
                        <div class="col-6 col-md-4 tt-col-item">
                            <div class="tt-product">
                                <div class="tt-image-box">
                                    <a href="shop-item.html">
                                        <img src="~/Content/images/product/product_img_01.jpg" data-src="" alt="">
                                    </a>
                                </div>
                                <div class="tt-description">
                                    <h2 class="tt-title"><a href="shop-item.html">Castrol 03057 GTX MAGNATEC 5W-30 Full Synthetic Motor Oil</a></h2>
                                    <div class="tt-price">
                                        $17.88
                                    </div>
                                    <a href="#" class="tt-btn-addtocart"><i class="icon-cart"></i>ADD TO CART</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 tt-col-item">
                            <div class="tt-product">
                                <div class="tt-image-box">
                                    <a href="shop-item.html">
                                        <span class="tt-img"><img src="~/Content/images/product/product_img_02.jpg" data-src="" alt=""></span>
                                    </a>
                                </div>
                                <div class="tt-description">
                                    <h2 class="tt-title"><a href="shop-item.html">Loctite Heavy Duty Threadlocker, 0.2 oz</a></h2>
                                    <div class="tt-rating">
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                    </div>
                                    <div class="tt-price">
                                        $13.63
                                    </div>
                                    <a href="#" class="tt-btn-addtocart"><i class="icon-cart"></i>ADD TO CART</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 tt-col-item">
                            <div class="tt-product">
                                <div class="tt-image-box">
                                    <a href="shop-item.html">
                                        <span class="tt-img"><img src="~/Content/images/product/product_img_03.jpg" data-src="" alt=""></span>
                                    </a>
                                </div>
                                <div class="tt-description">
                                    <h2 class="tt-title"><a href="shop-item.html">FRAM XG3614 Spin-On Ultra S/G Oil Filter</a></h2>
                                    <div class="tt-rating">
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                    </div>
                                    <div class="tt-price">
                                        $8.97
                                    </div>
                                    <a href="#" class="tt-btn-addtocart"><i class="icon-cart"></i>ADD TO CART</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 tt-col-item">
                            <div class="tt-product">
                                <div class="tt-image-box">
                                    <a href="shop-item.html">
                                        <span class="tt-img"><img src="~/Content/images/product/product_img_04.jpg" data-src="" alt=""></span>
                                    </a>
                                </div>
                                <div class="tt-description">
                                    <h2 class="tt-title"><a href="shop-item.html">ECOGARD S5436 Cartridge Engine Oil Filter for Synthetic Oil </a></h2>
                                    <div class="tt-rating">
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                    </div>
                                    <div class="tt-price">
                                        $3.68
                                    </div>
                                    <a href="#" class="tt-btn-addtocart"><i class="icon-cart"></i>ADD TO CART</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 tt-col-item">
                            <div class="tt-product">
                                <div class="tt-image-box">
                                    <a href="shop-item.html">
                                        <span class="tt-img"><img src="~/Content/images/product/product_img_05.jpg" data-src="" alt=""></span>
                                    </a>
                                </div>
                                <div class="tt-description">
                                    <h2 class="tt-title"><a href="shop-item.html">Bosch 3330 Premium FILTECH Oil Filter </a></h2>
                                    <div class="tt-rating">
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                    </div>
                                    <div class="tt-price">
                                        $5.23
                                    </div>
                                    <a href="#" class="tt-btn-addtocart"><i class="icon-cart"></i>ADD TO CART</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 tt-col-item">
                            <div class="tt-product">
                                <div class="tt-image-box">
                                    <a href="shop-item.html">
                                        <span class="tt-img"><img src="~/Content/images/product/product_img_06.jpg" data-src="" alt=""></span>
                                    </a>
                                </div>
                                <div class="tt-description">
                                    <h2 class="tt-title"><a href="shop-item.html">SiriusLED Super Bright 1W LED Bulbs with 360 Degree </a></h2>
                                    <div class="tt-rating">
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                    </div>
                                    <div class="tt-price">
                                        $8.97
                                    </div>
                                    <a href="#" class="tt-btn-addtocart"><i class="icon-cart"></i>ADD TO CART</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 tt-col-item">
                            <div class="tt-product">
                                <div class="tt-image-box">
                                    <a href="shop-item.html">
                                        <span class="tt-img"><img src="~/Content/images/product/product_img_07.jpg" data-src="" alt=""></span>
                                    </a>
                                </div>
                                <div class="tt-description">
                                    <h2 class="tt-title"><a href="shop-item.html">Best Wheel and Tire Cleaner </a></h2>
                                    <div class="tt-rating">
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                    </div>
                                    <div class="tt-price">
                                        $16.97
                                    </div>
                                    <a href="#" class="tt-btn-addtocart"><i class="icon-cart"></i>ADD TO CART</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 tt-col-item">
                            <div class="tt-product">
                                <div class="tt-image-box">
                                    <a href="shop-item.html">
                                        <span class="tt-img"><img src="~/Content/images/product/product_img_08.jpg" data-src="" alt=""></span>
                                    </a>
                                </div>
                                <div class="tt-description">
                                    <h2 class="tt-title"><a href="shop-item.html">Autolite XP5325 Iridium XP Spark Plug, Pack of 4</a></h2>
                                    <div class="tt-rating">
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                    </div>
                                    <div class="tt-price">
                                        $24.61
                                    </div>
                                    <a href="#" class="tt-btn-addtocart"><i class="icon-cart"></i>ADD TO CART</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 tt-col-item">
                            <div class="tt-product">
                                <div class="tt-image-box">
                                    <a href="shop-item.html">
                                        <span class="tt-img"><img src="~/Content/images/product/product_img_09.jpg" data-src="" alt=""></span>
                                    </a>
                                </div>
                                <div class="tt-description">
                                    <h2 class="tt-title"><a href="shop-item.html">Kensun AC/DC Performance Portable Air Compressor </a></h2>
                                    <div class="tt-rating">
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                    </div>
                                    <div class="tt-price">
                                        $48.36
                                    </div>
                                    <a href="#" class="tt-btn-addtocart"><i class="icon-cart"></i>ADD TO CART</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tt-pagination">
                        <ul>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">...</a></li>
                            <li><a href="#">8</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-indent container-indent-03 tt-mobile-hidden">
        <div class="tt-map">
            <a href="#" class="tt-btn-toggle"></a>
            <div class="tt-box-map">
                <div id="googleMapFooter" class="google-map"></div>
            </div>
        </div>
    </div>
</div>

