<div id="compareSlide" class="layout-slide">
    <div class="slide-content">
        <div class="slide-title">
            <h6 class="title">Compare Vehicles</h6>
            <a class="btn-close-slide icon-close"></a>
        </div>
        <div class="tt-wrapper-col">
            <div class="col-value">
                <ul>
                    <li>Price:</li>
                    <li>Make</li>
                    <li>Model</li>
                    <li>MILEAGE:</li>
                    <li>FUEL TYPE:</li>
                    <li>YEAR:</li>
                    <li>TRANSMission:</li>
                    <li>Drive Type:</li>
                    <li>Color:</li>
                    <li>Int. Color:</li>
                    <li>VIN:</li>
                    <li>Engine:</li>
                    <li>Stock number:</li>
                    <li>Features &amp; Options</li>
                </ul>
            </div>
            <div class="col-item">
                <a href="#" class="item-close"><i class="icon-close"></i></a>
                <div class="img-obj"><img src="~/Content/images/product_02/product_02_img_02.jpg" alt=""></div>
                <ul>
                    <li class="value-item value-select">$99,625</li>
                    <li class="value-item">Lehus</li>
                    <li class="value-item">LX 570</li>
                    <li class="value-item">0 miles</li>
                    <li class="value-item">Gas</li>
                    <li class="value-item">2018</li>
                    <li class="value-item">Automatic</li>
                    <li class="value-item">Front Wheel Drive</li>
                    <li class="value-item">Jet Black</li>
                    <li class="value-item">Cabernet Premium Leather</li>
                    <li class="value-item">JTJHY7AX6H4250229</li>
                    <li class="value-item">V6 EcoBoost TT</li>
                    <li class="value-item">252832</li>
                    <li class="value-item value-multy">
                        2-Stage Unlocking Doors,
                        ABS: 4-Wheel,Active Head
                        Restraints: Dual Front,
                        Air Conditioning, Air
                        Filtration, Airbag
                        Deactivation: Occupant
                        Sensing Passenger,
                        Ambient Lighting, Antenna
                        Type: Diversity, Anti-Theft
                        System:2-Stage Unlocking Doors,
                        ABS: 4-Wheel,Active Head
                        2-Stage Unlocking Doors,
                        ABS: 4-Wheel,Active Head
                    </li>
                </ul>
            </div>
            <div class="col-item">
                <a href="#" class="item-close"><i class="icon-close"></i></a>
                <div class="img-obj"><img src="~/Content/images/product_02/product_02_img_03.jpg" alt=""></div>
                <ul>
                    <li class="value-item value-select">$48,430</li>
                    <li class="value-item">Volve</li>
                    <li class="value-item">XC60</li>
                    <li class="value-item">0 miles</li>
                    <li class="value-item">Gas</li>
                    <li class="value-item">2018</li>
                    <li class="value-item">Automatic</li>
                    <li class="value-item">Front Wheel Drive</li>
                    <li class="value-item">Jet Black</li>
                    <li class="value-item">Cabernet Premium Leather</li>
                    <li class="value-item">JTJHY7AX6H4250229</li>
                    <li class="value-item">V6 EcoBoost TT</li>
                    <li class="value-item">215838</li>
                    <li class="value-item value-multy">
                        2-Stage Unlocking Doors,
                        ABS: 4-Wheel,Active Head
                        Restraints: Dual Front,
                        Air Conditioning, Air
                        Filtration, Airbag
                        Deactivation: Occupant
                        Sensing Passenger,
                        Ambient Lighting, Antenna
                        Type: Diversity, Anti-Theft
                        System:
                    </li>
                </ul>
            </div>
            <div class="col-item">
                <a href="#" class="item-close"><i class="icon-close"></i></a>
                <div class="img-obj"><img src="~/Content/images/product_02/product_02_img_06.jpg" alt=""></div>
                <ul>
                    <li class="value-item value-select">$27,850</li>
                    <li class="value-item">Nesen</li>
                    <li class="value-item">Almera</li>
                    <li class="value-item">80,000 miles</li>
                    <li class="value-item">Gas</li>
                    <li class="value-item">2017</li>
                    <li class="value-item">Automatic</li>
                    <li class="value-item">Front Wheel Drive</li>
                    <li class="value-item">Jet Black</li>
                    <li class="value-item">Cabernet Premium Leather</li>
                    <li class="value-item">JTJHY7AX6H4250229</li>
                    <li class="value-item">V6 EcoBoost TT</li>
                    <li class="value-item">112532</li>
                    <li class="value-item value-multy">
                        2-Stage Unlocking Doors,
                        ABS: 4-Wheel,Active Head
                        Restraints: Dual Front,
                        Air Conditioning, Air
                        Filtration, Airbag
                        Deactivation: Occupant
                        Sensing Passenger,
                        Ambient Lighting, Antenna
                        Type: Diversity, Anti-Theft
                        System:
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
