<form id="frmSignUp" method="post">
    <div class="sign-up-htm">
        <div class="group">
            <label for="user" class="label">Username</label>
            <input id="user" name="UserName" type="text" class="input">
        </div>
        <div class="group">
            <label for="pass" class="label">Password</label>
            <input id="pass" name="PassWord" type="password" class="input" data-type="password">
        </div>
        <div class="group">
            <label for="pass" class="label">Repeat Password</label>
            <input id="re-pass" name="RePass" type="password" class="input" data-type="password">
        </div>
        <div class="group">
            <label for="email" class="label">Email Address</label>
            <input id="email" name="Email" type="email" class="input">
        </div>
        <div class="group">
            <button type="button" class="button" id="sign-up" onclick="submitSignUp()">Sign Up</button>
        </div>
        <div class="hr"></div>
    </div>
</form>